/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
.page.theme-light {
  --background-color-main: #fff;
  --accent-color: #000;
}

.page.theme-dark {
  --background-color-main: #000;
  --accent-color: #00cc14;
  --background-image: var(--background-image-dark);
  --background-color-light: var(--background-color-dark);
  --button-text-color: #00cc14;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #00cc14;
    --background-color-main: #000;
    --background-image: var(--background-image-dark);
    --background-color-light: var(--background-color-dark);
    --button-text-color: #00cc14;
  }
}
